<!-- customer_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Detail</title>
</head>
<body>
    <div class="customer_detail">
        <h3>{{ customer.first_name }} {{ customer.last_name }}</h3>
        <p><strong>Phone Number:</strong> {{ customer.phone }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Address:</strong> {{ customer.address }}</p>
        <p><strong>Joined at:</strong> {{ customer.created_when }}</p>
    </div>
    <a href="../" class="back-list ">Back to Customer List</a>
</body>
</html>
