<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>

<body>
    <h1>Customer Details</h1>

    <div class="container">
        <div class="customer_detail">
            <h3>{{customer.first_name}} {{customer.last_name}}
            </h3>
            <p><strong>Phone Number:</strong> {{customer.phone}}</p>
            <p><strong>Email:</strong> {{customer.email}}</p>
            <p><strong>Address:</strong> {{customer.address}}</p>
            <p><strong>Joined at:</strong> {{customer.created_when}}</p>

        </div>
    </div>
    <a href="{% url 'customer_list'%}" class="back-list ">Back to Customer List</a>
</body>

</html>