<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{product.name}} </title>
</head>

<body>
    
    <h2> <strong>Name:</strong> {{product.name}} </h2>
    <p> <strong>Description: </strong>{{product.description}}</p>
    <p> <strong>Price: </strong> KSHS {{product.price}}</p>
    <!-- <img src="{{product.imagge.url}}" alt="{{product.name}} Photo"> -->
    <p><strong>Available: </strong> {% if product.availability %} Yes {% else %} No {% endif %}</p>
    <a href="../products" class="back-list ">Back to Product List</a>
</body>

</html>